In [1]:
import pyforest

In [2]:
# Read csv dataset

df = pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
# Get all columns mean values by Pregnancies

df.groupby(df['Pregnancies']).mean()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,,,,,,,,
0,123.000000,67.153153,22.270270,81.675676,34.290090,0.520838,27.603604,0.342342
1,112.748148,67.792593,24.437037,98.674074,31.372593,0.486496,27.370370,0.214815
2,110.796117,63.252427,21.601942,85.844660,30.583495,0.491660,27.194175,0.184466
3,123.586667,66.586667,20.080000,87.453333,30.425333,0.432147,29.026667,0.360000
4,125.117647,70.029412,15.882353,69.441176,32.141176,0.446353,32.779412,0.338235
5,118.859649,76.210526,17.385965,57.298246,33.192982,0.396421,39.035088,0.368421
6,120.800000,68.420000,17.640000,63.580000,30.290000,0.429520,39.340000,0.320000
7,136.444444,70.777778,20.288889,84.466667,32.631111,0.443622,41.111111,0.555556
8,131.736842,75.184211,17.315789,92.815789,31.568421,0.504711,45.368421,0.578947
9,131.392857,77.892857,20.892857,62.428571,31.707143,0.550679,44.178571,0.642857
10,120.916667,70.208333,15.708333,34.791667,30.641667,0.454167,42.666667,0.416667
11,126.454545,74.181818,21.727273,65.454545,38.563636,0.522545,44.545455,0.636364
12,113.555556,76.333333,27.111111,112.555556,32.344444,0.444333,47.444444,0.444444
13,125.500000,73.800000,17.300000,27.900000,35.000000,0.463300,44.500000,0.500000
14,137.500000,70.000000,27.500000,92.000000,35.100000,0.312000,42.000000,1.000000
15,136.000000,70.000000,32.000000,110.000000,37.100000,0.153000,43.000000,1.000000
17,163.000000,72.000000,41.000000,114.000000,40.900000,0.817000,47.000000,1.000000

In [4]:
df['Age'].describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: Age, dtype: float64

In [5]:
# Glucose mean by Pregnancies

df.groupby(df['Pregnancies'])['Glucose'].mean()

Pregnancies
0     123.000000
1     112.748148
2     110.796117
3     123.586667
4     125.117647
5     118.859649
6     120.800000
7     136.444444
8     131.736842
9     131.392857
10    120.916667
11    126.454545
12    113.555556
13    125.500000
14    137.500000
15    136.000000
17    163.000000
Name: Glucose, dtype: float64

In [6]:
# Copy BMI column

BMI = df['BMI']

In [7]:
# Delete column BMI

df.drop(['BMI'],axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,0.627,50,1
1,1,85,66,29,0,0.351,31,0
2,8,183,64,0,0,0.672,32,1
3,1,89,66,23,94,0.167,21,0
4,0,137,40,35,168,2.288,33,1
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,0.171,63,0
764,2,122,70,27,0,0.340,27,0
765,5,121,72,23,112,0.245,30,0
766,1,126,60,0,0,0.349,47,1
767,1,93,70,31,0,0.315,23,0

In [8]:
# Restore BMI column

df['BMI'] = BMI

In [9]:
# Shufle dataset rows

df = df.sample(frac=1)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
45,0,180,66,39,0,42.0,1.893,25,1
41,7,133,84,0,0,40.2,0.696,37,0
758,1,106,76,0,0,37.5,0.197,26,0
32,3,88,58,11,54,24.8,0.267,22,0
584,8,124,76,24,600,28.7,0.687,52,1
...,...,...,...,...,...,...,...,...,...
230,4,142,86,0,0,44.0,0.645,22,1
530,2,122,60,18,106,29.8,0.717,22,0
448,0,104,64,37,64,33.6,0.510,22,1
377,1,87,60,37,75,37.2,0.509,22,0
86,13,106,72,54,0,36.6,0.178,45,0

In [10]:
# Blood pressure function

def check_pressure(P):
    if P < 80:
        return 'Normal'
    elif P in range(80, 121):
        return 'High'
    else: 
        return 'Hyper'

In [11]:
# Create column blood pressure status

df['BloodPressureStatus'] = df.apply(lambda x: check_pressure(x['BloodPressure']), axis=1)

In [12]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,BloodPressureStatus
45,0,180,66,39,0,42.0,1.893,25,1,Normal
41,7,133,84,0,0,40.2,0.696,37,0,High
758,1,106,76,0,0,37.5,0.197,26,0,Normal
32,3,88,58,11,54,24.8,0.267,22,0,Normal
584,8,124,76,24,600,28.7,0.687,52,1,Normal
...,...,...,...,...,...,...,...,...,...,...
230,4,142,86,0,0,44.0,0.645,22,1,High
530,2,122,60,18,106,29.8,0.717,22,0,Normal
448,0,104,64,37,64,33.6,0.510,22,1,Normal
377,1,87,60,37,75,37.2,0.509,22,0,Normal
86,13,106,72,54,0,36.6,0.178,45,0,Normal

In [13]:
# Blood pressure status by Outcome

df.groupby('BloodPressureStatus')['Outcome'].value_counts()

BloodPressureStatus  Outcome
High                 0          114
                     1           90
Hyper                0            1
Normal               0          385
                     1          178
Name: Outcome, dtype: int64